.create-startpage-button {
  width: 100%;
}

.startpage-input-search {
  width: 100%;
}

.search-list-item:hover {
  cursor: pointer;
}

.invite-container {
  background-color: rgb(33, 37, 41) !important;
  border: 1px solid white;
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.go-to-invite-type {
  cursor: pointer;
}

.invite-p {
  color: white;
  font-family: "Bebas Neue", cursive;
  font-size: 1.2rem;
  margin: 0px;
}

.choice {
  margin: 0px;
}

.choice:hover {
  cursor: pointer;
  color: rgb(189, 188, 188);
}

.invite-detail {
  display: flex;
  align-items: center;
}
